* {
	margin: 0;
	padding: 0;
	background: black;
}

body {
background: url('../img/background.jpg') 100% 100% no-repeat;
background-size: cover;
padding-top: 45px;
}


.wrapper {
	width: 1024px;
	height: auto;
	padding-right: 60px;
	padding-left: 60px;
	padding-bottom: 135px;
	padding-top: 60px;
	background: #fff;
	margin: 0 auto;
}

