* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	border: 0px	;
}

body {
	background: url('../img/background.jpg') 100% 100% no-repeat;
	background-size: cover;
	padding-top: 45px;
	padding-bottom: 700px;
}

ul > li {
	display: inline-block;
	color: #fff;
	list-style: none;	
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size: 28px;
	margin-left: 12.5px;
	margin-right: 12.5px;
	vertical-align: middle;

}

ul {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 30px;
    position: relative;

}

nav {
	width: 900px;
	margin: 0 auto;
	padding-left: 100px;
	padding-right: 100px;

	
}

a {
	text-decoration: none;
	color: #fff;
}

a.logo{
	width: 140px;
   	height: 140px;
   	color: #263555;
	content: 'JOURNEY';
  	display: inline-block;
  	background: white;
  	border-radius: 70px;
}

main {
	position: relative;
	width: 900px;
	height: auto;
	padding-left: 62px; 
	padding-right: 62px;
	padding-bottom: 135px;
	padding-top: 60px;
	background: #fff;
	margin: 0 auto;
}


/* MENU */
.menu__item {
  position: relative;
}

.submenu__item > a {
  height: 85px;
  width: 100px;
  padding: 0 35px; 
  color: #6b7488;
  text-decoration: none;
  text-align: center;
}


.menu__item>a:hover,
.submenu__item>a:hover {
  color: #263555;
  text-align: center;
}

.submenu {
  display: none;
  line-height: 0.8;
  text-align: center;
  width: 66px;
  position: absolute;
  z-index: 999;
  left: -108px;
  /* необходимо перекрыть border  .menu  */
  top: 40px;
  list-style: none;
  background: #fff;
  padding-bottom: 5px;
  border-radius: 3px;
}

.first-submenu {
	position: relative;
	left: -4px;
}

/* делаем .submenu видимым */

.menu__item:hover>.submenu {
  display: block;

}

.submenu__item {
  position: relative;
  left:-32px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.submenu:before {
	content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 84px;
    left: 30px;
    border-style: solid;
    border-width: 0 2px 4px 2px;
    border-color: transparent transparent #fff transparent;
}


/* logo */
.logo-text {
	position: absolute;
	right: 305px;
	top: 40px;
	color: #263555;
	font-family: Dorsa, sans-serif;
	font-size: 60px;
	z-index: 999;
}

/* slider */

#images {
    width: 902px;
    height: 579px;
    overflow: hidden;
    position: relative;
}

.slider a {
    color: #222;
}

.slider a {
	position: relative;
	left: 20px;
	bottom: 35px;	
	height: 10px;
	width: 10px;
    text-decoration: none;
    background: #38afe5;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
}

.slider-fon1 {
	position: absolute;
	width: 224px;
	height: 60px;
	left: 62px;
	top: 276px;
	background-color: #fff;
	

}

.slider-text1 {
	left: 75px;
	top: 293px;
	position: absolute;
	color: 263555;
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size: 22px;
	text-align: center;
	font-weight: 500;
} 

.slider-fon2 {
	position: absolute;
	width: 293px;
	height: 60px;
	left: 62px;
	top: 336px;
	background-color: #38afe5;
}

.slider-text2 {
	left: 83px;
	top: 345px;
	position: absolute;
	color: #fff;
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size: 34px;
	text-align: center;
	font-weight: 500;
} 

.middle-text {
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size: 30px;
	color: #263555;
	margin-top: 55px;
	margin-bottom: 50px;
}

/* detaiuls */

h3 {
	font-size: 30px;
}

.details {
	position: relative;
}
.details > div {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5.5px;
}

.details > div:first-of-type {
	margin-left: 0px;
}

.details > div:last-of-type {
	margin-right: 0px;
}


.detail-button,
.detail-button-ny,
.detail-button-paris {
	display: none;
	position: absolute;
	z-index: 200;
	right: 770px;
	top: 230px;
	font-family: Arial, sans-serif; 
	font-size: 14px;
	position: absolute;
	color: black;
	content: 'Details';
	text-align: center;
	background: white;
	width: 60px;
   	height: 20px;
   	border-radius: 5px;
}

.detail-button-ny {
	right: 470px;
}

.detail-button-paris {
	right: 165px;
}

.detail-text,
.detail-text-ny,
.detail-text-paris {
	z-index: 100;
	position: absolute;
	display: none;
	width: 140px;
	right: 755px;
	top: 40px;
	color: white;
	font-family: Arial, sans-serif; 
	font-size: 11px;
}

.detail-text-ny {
	right: 451px;
}

.detail-text-paris {
	right: 145px;
}

.detail-fon,
.detail-fon-ny,
.detail-fon-paris {
	position: absolute;
	vertical-align: middle;
	display: none;
	width: 145px;
	height: 272px;
	background-color: #193149;
	background-size: 100px 100px;
	left: 0px;
	bottom: 4px;
}

.detail-fon-ny {
	left: 304px;
}

.detail-fon-paris {
	left: 609px;
}

.detail1:hover>.detail-text,
.detail1:hover>.detail-fon,
.detail1:hover>.detail-button
 {
  display: block;
}

.detail2:hover>.detail-text-ny,
.detail2:hover>.detail-fon-ny, 
.detail2:hover>.detail-button-ny {
  display: block;
}


.detail3:hover>.detail-text-paris,
.detail3:hover>.detail-fon-paris,
.detail3:hover>.detail-button-paris {
  display: block;
}

h3 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 25px;
}

/*top button*/
.topbutton {
	position: fixed;
	width:20px;
	height:20px;
	background:#38afe5;
	padding:10px;
	bottom:90px;
	right:13%;
	color:#fff;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
}

.topbutton:before {

	content: url(../img/up.png);	
	position: absolute;
	width:20px;
	height:20px;
	right: 6px;
}