body {
background: url('../img/background.jpg') 100% 100% no-repeat;
background-size: cover;
padding-top: 45px;
padding-bottom: 135px;
counter-reset: count-box;

}

main {
	width: 904px;
	height: 100%;
	margin: 0 auto;
	padding-top: 115px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 75px;
	color: #4e5050;
}

p {
	margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
	font-size: 13px;
	line-height: 1.5;
	color: #4e5050;

}
ul > li {
	list-style: none;	
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size: 28px;
	font-weight: lighter: ;
}

a {
	text-decoration: none;
	color: #fff;
}

header {
	width: 1024px;
	margin: 0 auto;
	padding-bottom: 45px;
}

.menu {
	padding: 0;
	list-style-type: none;
	padding: 0 auto;
	margin: 0 auto;
	height: 140px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: none;
	align-items: center;
}

/* LOGO */
.logo{
	position: relative;
  	color: #263555;
	font-family: Dorsa, sans-serif;
	font-size: 60px;
	z-index: 10;

}

.logo:before{
	display: inline-block;
		z-index: -1;
	content: "";
	width: 140px;
   	height: 140px;
   	right: -30px;
   	bottom: -37px;
	position: absolute;

	background: white;
  	border-radius: 70px;
}

/* MENU */
nav {
	padding-left: 60px;
	padding-right: 60px;

}
.menu__item {
  position: relative;
}

.submenu__item > a {
  height: 85px;
  width: 100px;
  padding: 0 35px; 
  color: #6b7488;
  text-decoration: none;
}


.menu__item>a:hover,
.submenu__item>a:hover {
  color: #263555;
}

.submenu {
  line-height: 0.8;
  text-align: center;
  width: 30px;
  height: 80px;
  display: none;
  position: absolute;
  z-index: 999;
  left: -10px;
  /* необходимо перекрыть border  .menu  */
  top: 40px;
  list-style: none;
  background: #fff;
  padding-bottom: 5px;
  border-radius: 3px;
}

.first-submenu {
	position: relative;
	left: -4px;
}
/* делаем .submenu видимым */

.menu__item:hover>.submenu {
  display: block;

}

.submenu__item {
  position: relative;
  left:-55px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.submenu:before {
	content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 85px;
    left: 30px;
    border-style: solid;
    border-width: 0 2px 4px 2px;
    border-color: transparent transparent #fff transparent;
}

/* MAIN BLOCK*/
.main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #fff;
}
/************* ABOUT  ***************************/

.posts, .profiles{
	width: 700px;
}
aside {
	width: 180px;
}

h2{
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size: 28px;
	color: #263555;
	margin: 0 auto;
	margin-bottom: 50px;
}

h4 {
	font-family: Arial, sans-serif; 
	font-size: 15px;
	color: #263555;
    margin: 0;
    margin-bottom: 15px;
    }


.main section > img {
  width: 350px;
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
}

/* ASIDE BLOCK */

.circle:before {
  font-weight: lighter;
  display: inline-block;
  color: white;
  counter-increment: count-box;
  content: counter(count-box); 
  padding-right: 9px;
  padding-left: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 10px;
  margin-left: -20px;
  background: #38afe5;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: #429dc7 solid 1px;
}

aside > p {
	margin-bottom: 30px;
}

hr {
  width: 900px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #dedbdb;
}

/* ARTICLE */
.content {
	margin-top: 35px;
}
.content ul {
	margin: 0;
	padding: 0;
}
article {
	width: 700px;
}

.content li {
  display: inline-block;
  list-style-type: none;
  color: #263555;
  width: 300px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  font-weight: lighter;	
}

.content ul > li:before {
  content: url(../img/bf.png);
  margin-right: 10px;
}

/* SECOND ASIDE */
.bubble {
  position: relative;
  bottom: 30px; 
  width: 210px;
  height: 190px;
  padding: 0px;
  background: #fcfafa;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #dfdcdc solid 1px;
  right: 10px;
}

.bubble-text {
	margin-top: 10px;
	position: relative;	
	left: 10px;
	width: 180px;
	color: #263555;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 16px 10px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 89px;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 19px 11px 0;
  border-color: #e9e6e6 transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -20px;
  left: 88px;
}

.text-center {
	text-align: center;	
}

/* FOOTER */
footer {
	display: flex;
	align-content: center;
	background-color: #30455b;
	width: 904px;
	height: 130px;
	margin: 0 auto;
	padding-left: 60px;
	padding-right: 60px;

}

.footer {
	padding-left: 40px;
	padding-right: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: space-around;	
	align-items: center;	
	align-content: center;
}
.footer li{
	width: 	200px;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	color: #fff;
}

/* SOCIALICONS*/
.social-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
	margin-top: 25px;
}

.icons {
	width: 100%;
	margin: 0 auto;
	display: flex;
	padding: 0;
	justify-content: center;
	margin-bottom: 20px;
}

.bg-same{
    width: 40px; height: 40px;
    list-style-type: none;
}

.bg-fb{
    background: url('../img/social-icons/css_sprites.png') -10px -10px;
}
.bg-gp {
    background: url('../img/social-icons/css_sprites.png') -70px -10px;
}
.bg-ln {
    background: url('../img/social-icons/css_sprites.png') -10px -70px;
}
.bg-tw {
    background: url('../img/social-icons/css_sprites.png') -70px -70px;
}

.icons li {
	margin-left: 5px;
	margin-right: 5px;
}

.social-text {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #fff;
	text-align: center;
}

/********************* BLOG *************************888/

/* RECENT POSTS */

.posts {
	display: flex;
	flex-direction: column;
}

.posts h2 {
	font-size: 32px;
	font-weight: lighter;
}

.post-data {
	display: flex;	
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 10px;
	
}		

.data-circle{
	padding: 5px;
	text-align: center;
	background-color: #38afe5;
  	border-radius: 20px;
	width: 30px;
	height: 30px; 
  	color: #fff;
}

.post-info {
	display: flex;
	flex-direction: column;
	line-height: 0.7;
	width: 80%;
}

.post-data p{
	font-family: Arial, sans-serif;
	font-size: 9px;
	color: #fff;
	word-wrap: break-word;
}

.posted-by {
	display: inline-block;	
	margin-left: 10px;
	font-size: 13px;
}


.posted-on {
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
	font-size: 10px;
	color: #868f8f;
}


/* CATEGORIES ARCHIVE */
.post-aside {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.float {
	float: left;
	margin-right: 25px;
	margin-bottom: 20px;
}

.posts h4 {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

.detail-button{
	margin: 0 auto;
	margin-top: 5px;
	font-family: Arial, sans-serif; 
	font-size: 14px;
	color: black;
	text-align: center;
	background: #fbf6f9;
	width: 60px;
   	height: 20px;
   	border-radius: 5px;
   	border: #b5aeaf solid 1px;
}

.detail-button a {
	color: black;
}

.posts hr {
	width: 100%;
	margin-bottom: 50px;
	margin-top: 50px;
	color: #dedbdb;
}

.post-aside h2 {
	font-size: 32px;
	font-weight: lighter;
	margin-bottom: 45px;

}

.post-aside li {
	width: 100%;
    font-size: 13px;
	line-height: 2.2;
}

.post-aside ul {
	margin-top: 0px;
	margin-bottom: 55px;
}

/********************** GALLERY **************************/

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 80px;
}

.gallery img {
	margin-bottom: 10px;
}

/*top button*/
.topbutton {
	position: fixed;
	width:20px;
	height:20px;
	background:#38afe5;
	padding:10px;
	bottom:90px;
	right:13%;
	color:#fff;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
}

.topbutton:before {

	content: url(../img/up.png);	
	position: absolute;
	width:20px;
	height:20px;
	right: 6px;
}
.gallery {
	position: relative;
}

.image {
	position: relative;
	margin: 0;
	padding: 0;
}

.image>img {
opacity:0.8;
-moz-opacity:0.8;
filter: alpha(opacity=80) black;
-khtml-opacity: 0.8;
background-color:#000;
}

.image>img:hover {
opacity:1;
-moz-opacity:1;
filter: alpha(opacity=100) black;
-khtml-opacity: 1;
background-color:#000;
}

.image:hover:before {
	position: absolute;
	content: url(../img/gallery/lupa.png);	
	top:75px;
	left: 130px;
}

/********************* HOME **************************8/
/* slider */

#images {
    width: 902px;
    height: 579px;
    overflow: hidden;
    position: relative;
}

.slider a {
    color: #222;
}

.slider a {
	position: relative;
	left: 20px;
	bottom: 35px;	
	height: 10px;
	width: 10px;
    text-decoration: none;
    background: #38afe5;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
}

.slider-fon1 {
	position: absolute;
	width: 224px;
	height: 60px;
	top: 576px;
	background-color: #fff;
	

}

.slider-text1 {
	margin-left: 15px;
	top: 593px;
	position: absolute;
	color: 263555;
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size: 22px;
	text-align: center;
	font-weight: 500;
} 

.slider-fon2 {
	position: absolute;
	width: 293px;
	height: 60px;
	top: 636px;
	background-color: #38afe5;
}

.slider-text2 {
	margin-left: 15px;
	top: 645px;
	position: absolute;
	color: #fff;
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size: 34px;
	text-align: center;
	font-weight: 500;
} 

.middle-text {
	width: 100%;
	text-align: left;
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size: 30px;
	color: #263555;
	margin-top: 55px;
	margin-bottom: 50px;
	align-self: left
}

/* details */

h3 {
	font-size: 30px;
}

.details {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;	
	
}

.detail-button,
.detail-button-ny,
.detail-button-paris {
    opacity: 0;
  	visibility: hidden;
    transition: opacity 1s, visibility 0s linear 1s;	
    position: absolute;
	z-index: 200;
	right: 770px;
	top: 230px;
	font-family: Arial, sans-serif; 
	font-size: 14px;
	position: absolute;
	color: black;
	content: 'Details';
	text-align: center;
	background: white;
	width: 60px;
   	height: 20px;
   	border-radius: 5px;
}

.detail-button-ny {
	right: 470px;
}

.detail-button-paris {
	right: 165px;
}

.detail-text,
.detail-text-ny,
.detail-text-paris {
	z-index: 100;
	position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s linear 1s;
	width: 140px;
	right: 757px;
	top: 40px;
	color: white;
	font-family: Arial, sans-serif; 
	font-size: 11px;
}

.detail-text-ny {
	right: 452px;
}

.detail-text-paris {
	right: 146px;
}

.detail-fon,
.detail-fon-ny,
.detail-fon-paris {
	position: absolute;
	vertical-align: middle;
	opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s linear 1s;
	width: 145px;
	height: 272px;
	background-color: #193149;
	background-size: 100px 100px;
	left: 0px;
	bottom: 4px;
}

.detail-fon-ny {
	left: 307px;
}

.detail-fon-paris {
	left: 614px;
}

.detail1:hover>.detail-text,
.detail1:hover>.detail-fon,
.detail1:hover>.detail-button
{
	opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  
}

.detail1 {
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}


.detail2:hover>.detail-text-ny,
.detail2:hover>.detail-fon-ny, 
.detail2:hover>.detail-button-ny {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}


.detail3:hover>.detail-text-paris,
.detail3:hover>.detail-fon-paris,
.detail3:hover>.detail-button-paris {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;

}

h3 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 25px;
}

.tabs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 55px;
	
}

.tabs-details {
	width: 65%;
	display: flex;
	flex-direction: column;


}

.tab-info {
	display: flex;
	flex-direction: column;
	border: #dedbdb 1px solid;
	border-radius: 1px;
	height: 100%;	
	justify-content: space-around;

}

.tab-up {
	height: 40%;
	width: 95%;
	margin: 0 auto;
}

.blog-detail-button{
	position: relative;
	left: 40%;
	top: 10%;
	margin: 0 auto;
	margin-top: 5px;
	font-family: Arial, sans-serif; 
	font-size: 14px;
	color: black;
	text-align: center;
	line-height: 20px;	
	background: #fbf6f9;
	width: 60px;	
   	height: 20px;
   	border-radius: 5px;
   	border: #b5aeaf solid 1px;
}

.blog-detail-button a {
	color: black;
}

.red-text {
	color: red;
}

.black-text {
	color: #000
}

.newsletter {
	width: 33%;
	display: flex;
	flex-direction: column;
	border-collapse: collapse;
}

.newsletter-info h4 {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #263555;
	font-weight: 300;
	margin-top: 40px;
	text-align: center;
}

.home-ul {
	margin-top: 35px;
	margin-bottom: 35px;
}

.home-ul ul {
	margin:0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;

}

.home-ul li {
  text-align: left;
  position: relative;
  left: 20%;
  padding: 5px;
  display: inline-block;
  list-style-type: none;
  color: #263555;
  font-size: 15px;
  font-family: Arial, sans-serif;
  font-weight: lighter;	
}

.home-ul ul > li:before {
  content: url(../img/bf.png);
  margin-right: 10px;
}


.newsletter-name {
	border: #dedbdb 1px solid;
	border-bottom-style: none;
	height: 30px;
	border-radius: 1px;
	background-color: #fcfafa;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;	
	color: #263555;
	text-align: center;
	line-height: 30px;		
}

.email {
	border-radius: 5px;
	border: #e2dfdf 1px solid;
	height: 25px;
	width: 85%;
	padding-left: 15px;
}

.newsletter-info {
	border: #dedbdb 1px solid;
	height: 100%;
	border-radius: 1px;
	text-align: center;
}

.tabs-array {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size: 20px;	
	color: #6b7488;
}

.tab1 {
	margin: 0px;
	width: 125px;
	height: 30px;
	border: #dedbdb 1px solid;
	position: relative;	
	width: 	125px;
	text-align: center;	
	color: #60bfea;
	border-radius: 1px;
	vertical-align: middle;
		
}

.tab1:before {
	content: '';
	width: 125px;
	height: 3px;
	background: #fff;
	position: absolute;
	top: 99%;
	right: 0%;
	text-align: center;	
}

.tab {
	width: 125px;
	height: 30px;
	border: #dedbdb 1px solid;
	width: 125px;
	border-left-style: none;
	border-bottom-style: none;
	text-align: center;	
	background-color: #fcfafa;
	border-radius: 1px;
	line-height: 30px;	
}

/*top button*/
.topbutton {
	position: fixed;
	width:20px;
	height:20px;
	background:#38afe5;
	padding:10px;
	bottom:90px;
	right:13%;
	color:#fff;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
}

.topbutton:before {

	content: url(../img/up.png);	
	position: absolute;
	width:20px;
	height:20px;
	right: 6px;
}

/********************* CONTACTS*************************/
.contact-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.gmap {
	width: 49%;
}


.map-text {
	width: 	22%;
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #666565;
}

.freephone {
	display: flex;
	justify-content: space-between;
}

.map-h2 {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.map-h2  h2{
	font-size: 32px;
	font-weight: 100;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

/* FORM */
.form {
	width: 24%;
	position: relative;
}

.form-method {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.red-text {
	color: red;
}

.buttons {
	display: flex;
	justify-content: space-around;
}


.form input, textarea {
	background-color: #fcfafa;	
	outline: none;
	border: 1.5px solid #d4d0d0;
	color: #263555;
	font-weight: 500;
}

.buttons > input {
	background-color: #fcfafa;	
	outline: none;
	border: 1.5px solid #d4d0d0;
	border-radius: 7px;
	width: 80px;
	height: 27px;
}

.form-method::before {
	position: absolute;
	content: '*This field is required.';
	color: red;
	font-size: 11px;
	top: 4px;
	left: 110px;
}

/************** TOURS *****************/

/* Tours Section */

.tours-h2 {
	width: 100%;
	font-size: 32px;
	font-weight: 300;
}

.tours {
	width: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tour {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 49.6%;
	margin-bottom: 35px;
	height: 26.25%;
}

.tour-image {
	width: 49.5%;
	margin: 0 auto;
}

.tour-info {
	width: 49.5%;
}

.tour-info p {
	font-size: 10px;
	margin-top: 10px;
}
.main-tour-text {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #263555;
}

.price {
	font-size: 13px;
	color: #60bbe9;
}

.tour-button{
	text-align: left;

}

.tour-button input {
	background-color: #fbf6f9;	
	outline: none;
	border: 1.5px solid #beb7b8;
	border-radius: 5px;
	width: 60px;
	height: 20px;
	margin-top: 30px;
	cursor: pointer;
	font-size: 11px;
	margin-bottom:
}

/* Tours Aside */

.browse {
	width: 28.0%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.browse-text {
	font-size: 10px;
	color: #4e5050;
	margin-bottom: 5px;
}

.browse-select {
	width: 100%;
	height: 20px;
	background-color: #fcfafa;
	border: #dedbdb 1px solid;
	color: #868f8f;
	margin-bottom: 25px;
}

.select {
	width: 90%;
	position: relative;
}

.select:after {
	position: absolute;
	z-index: 100;
	content: '';
	width: 1px;
	height: 20px;
	bottom: 55%;
	right: 20px;
	background-color: #dedbdb;
}

option {
	color: #fff;
	background-color: #e3e2e2;
}

.tours-h2-search {
	width: 100%;
	font-size: 32px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 40px;
}

.blue-p {
	margin: 0;
	margin-bottom: 5px;
	font-size: 10px;
	color: #38afe5;
}