* {
	color: #4e5050;
}

body {
background: url('../img/background.jpg') 100% 100% no-repeat;
background-size: cover;
padding-top: 45px;
padding-bottom: 135px;
counter-reset: count-box;

}

main {
	width: 904px;
	height: 100%;
	margin: 0 auto;
	padding-top: 115px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 75px;
}

p {
	margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
	font-size: 13px;
}
ul > li {
	list-style: none;	
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size: 28px;
	font-weight: lighter: ;
}

a {
	text-decoration: none;
	color: #fff;
}

header {
	width: 1024px;
	margin: 0 auto;
	padding-bottom: 45px;
}

ul {
	padding: 0;
	list-style-type: none;
	padding: 0 auto;
	margin: 0 auto;
	height: 140px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: none;
	align-items: center;
}

/* LOGO */
.logo{
	position: relative;
  	color: #263555;
	font-family: Dorsa, sans-serif;
	font-size: 60px;
	z-index: 10;

}

.logo:before{
	display: inline-block;
		z-index: -1;
	content: "";
	width: 140px;
   	height: 140px;
   	right: -30px;
   	bottom: -37px;
	position: absolute;

	background: white;
  	border-radius: 70px;
}

/* MENU */
nav {
	padding-left: 60px;
	padding-right: 60px;

}
.menu__item {
  position: relative;
}

.submenu__item > a {
  height: 85px;
  width: 100px;
  padding: 0 35px; 
  color: #6b7488;
  text-decoration: none;
}


.menu__item>a:hover,
.submenu__item>a:hover {
  color: #263555;
}

.submenu {
  line-height: 0.8;
  text-align: center;
  width: 66px;
  height: 80px;
  display: none;
  position: absolute;
  z-index: 999;
  left: -10px;
  /* необходимо перекрыть border  .menu  */
  top: 40px;
  list-style: none;
  background: #fff;
  padding-bottom: 5px;
  border-radius: 3px;
}

/* делаем .submenu видимым */

.menu__item:hover>.submenu {
  display: block;

}

.submenu__item {
  position: relative;
  left:-32px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.submenu:before {
	content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 85px;
    left: 30px;
    border-style: solid;
    border-width: 0 2px 4px 2px;
    border-color: transparent transparent #fff transparent;
}

/* MAIN BLOCK*/
.main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #fff;
}

section {
	width: 700px;
}
aside {
	width: 180px;
}

h2{
	font-family: 'Pathway Gothic One', sans-serif; 
	font-size: 28px;
	color: #263555;
	margin: 0 auto;
	margin-bottom: 50px;
}

h4 {
	font-family: Arial, sans-serif; 
	font-size: 15px;
	color: #263555;
    margin: 0;
    margin-bottom: 15px;
    }


img {
  width: 350px;
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
}


/* ASIDE BLOCK */


.circle:before {
	font-weight: lighter;
  display: inline-block;
  color: white;
  counter-increment: count-box;
  content: counter(count-box); 
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 10px;
  margin-left: -30px;
  background: #38afe5;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: #429dc7 solid 1px;
}

aside > p {
	margin-bottom: 30px;
}

hr {
width: 900px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #dedbdb;
}